<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.truclh.nute.vn"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/brigde"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="hiworld.truclh.nute.vn.Nute_StartApp"
            android:label="@string/title_activity_nute_start_app" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="hiworld.truclh.nute.vn.Nute_MainApp"
            android:label="@string/title_activity_nute_main_app" >
        </activity>
        <activity
            android:name="hiworld.truclh.nute.vn.Nute_WebView"
            android:label="@string/title_activity_nute__web_view" >
        </activity>
        <activity
            android:name="hiworld.truclh.nute.vn.Nute_Address"
            android:label="@string/title_activity_nute__address" >
        </activity>
        <activity
            android:name="hiworld.truclh.nute.vn.Nute_Website"
            android:label="@string/title_activity_nute__website" >
        </activity>
        <activity
            android:name="com.example.truclh.nute.vn.Nute_FindDoc"
            android:label="@string/title_activity_nute__find_doc" >
        </activity>
        <activity
            android:name="com.example.truclh.nute.vn.Nute_Finddata"
            android:label="@string/title_activity_nute__finddata" >
        </activity>
    </application>

</manifest>